<h1>User info</h1>


<table>
  <tbody>
    <tr>
      <th>name</th>
      <th>introduction</th>
    </tr>
  </tbody>
</table>


<div class="row">
   <i class="fas fa-user-cog"></i>
</div>


<h1>New book</h1>
<%= form_with model:book do |f| %>

  <h4>Title</h4>
  <%= f.text_field :title %>

  <h4>Opinion</h4>
  <%= f.text_area :body %>

  <%= f.submit 'Create Book' %>
<% end %>